/* pruebas */



table{
    width: 100%;
    /* border: 1px dashed; */
}

td{
    text-align: center;
    width: 33%;
}



/* pruebas */

h1, h2, h3{
    font-family: "Constantia";
    /* font-size: ; */
}

p{
    font-family: "Corbel";
}

body{
    background-color: #A5AF87;
}

main{
    margin: 5% 7%;
    padding: 5% 15%;
    background-color: #EDE8D0;
}

header{
    margin: 1% 7%;
    padding: 1% 15%;
    background-color: #EDE8D0;
}

header>img{
    width: 15%;
    height: 15%;
}

footer>p{
    display: inline;
    width: 40%;
    text-align: left;
}

.menu{
    width: 80%;
    height: 90%;
    border: 2px, solid, #ED64ED;
}

.logo{
    width: 10%;
    height: 10%;
}

#mapa{
    width: 50%;
}

#about_img{
    width: 80%;
}

hr{
    color: white;
    width: 90%;
}

a{
    color: ;
}